.signUpBtn {
  width: 18%;
  margin: 0 auto;
  padding: 10px;
  background-color: #0b5ed7;
  color: white;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.signUpBtn:hover {
  background-color: #0252ca;
}
